<div id="addChemicalForm" class="hidden-template">
    <form action="" method="post">
        <div class="container-fluid">
            <div class="row form-input">
                <label class="col-md-3" for="chemName">Name: </label>
                <input class="col-md-9" type="text" name="name" id="chemName">
            </div>

            <div class="row form-input">
                <label class="col-md-3" for="chemFormula">Formula: </label>
                <input class="col-md-9" type="text" name="formula" id="chemFormula">
            </div>

            <div class="row form-input">
                <label class="col-md-3" for="chemWeight">Weight: </label>
                <input class="col-md-9" type="text" name="weight" id="chemWeight">
            </div>

            <div class="row form-input">
                <label class="col-md-3" for="cas_rn">CAS RN: </label>
                <input class="col-md-9" type="text" name="cas_rn" id="cas_rn">
            </div>

            <div class="row form-input">
                <label class="col-md-3" for="purity">Purity: </label>
                <input class="col-md-9" type="text" name="purity" id="purity">
            </div>

            <div class="row form-input">
                <label class="col-md-3" for="manufacturer">Manufacturer: </label>
                <input class="col-md-9" type="text" name="manufacturer" id="manufacturer">
            </div>

            <div class="row form-input">
                <label class="col-md-3" for="supplier">Supplier: </label>
                <input class="col-md-9" type="text" name="supplier" id="supplier">
            </div>

            <button type="submit" class="btn btn-cs">Add</button>
        </div>
    </form>
</div>