.color_danger {
  background-color: var(--color-danger);
  &:hover {
    background-color: darken($color-danger, 5%);
  }
}
.color_primary {
  background-color: #0000ff;
  &:hover {
    background-color: darken(#0000ff, 5%);
  }
}

.color_black {
  background-color: $color-black;
}
.color_primary3 {
  background-color: #4e5659;
  &:hover {
    background-color: darken(#4e5659, 5%);
  }
}

.background_color_black {
  background-color: #25292b;
}

.padding-small {
  padding: 1rem 0;
}

.fontSize1_6 {
  font-size: 1.6rem;
}

.read_only_input_colour {
  color: #9e9898;
}