:root {
  --color-primary-1: #2d3133;
  --color-primary-2: #25292b;
  --color-primary-3: #4e5659;
  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;
  --color-danger: #d36a5f;
}

$primary-font: "Roboto", sans-serif;
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-danger: #d36a5f;
