*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #282828;
    color: white;
    width: 100%;
}

.sidebar{
    width: 20%;
    border: 3px #0a53be solid;
    padding-left: 0.2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.sidebar-list{
    list-style-type: none;
}

.content{
    width: 80%;
    border: 3px #0a5334 solid;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.form-input{
    padding: 5px;
}

.link-btn{
    text-decoration: none;
    color: black;
}
