.hidden-template{
    display: none;
}
.btn-cs{
    width: 13rem;
    background-color: green;
    color: white;
    margin: 0.3em;
}
.login-form{
    width: 60%;
    margin: 7rem 0;
}

.search-form{
    margin-bottom: 1rem;
}

.list-content{
    border: 1px yellowgreen solid ;
}
.searchForm{
    width: 100%;
}

.chemicals{
    padding: 0.5em;
    background-color: #49494b;
}

.chemical{
    padding: 0.5em;
    margin: 0.3em 0;
    background-color: #272728;
    border-radius: 0.3em;
}

.add-things-container{
    margin: 1rem;
}
.add-things-section-head{
    background-color: #444343;
    border-radius: 0.2em;
    padding: 0.4em;
}
.add-things-section{
    margin: 0.2em;
}
.add-things-chem-content{
    background-color: #545252;
    margin: 0.3em;
    padding: 0.2em;
    border-radius: 0.3em;
}
.add-shipment-input{
    width: 15em;
    margin: 0 0.5em;
    display: none;
}
.add-shipment-tag{
    align-self: center;
    font-weight: bold;
    padding: 0.2em;
    border-radius: 0.4em;
    background-color: #0f5132;
    margin: 0 0.5em;
}

.action-icon{
    border: 1px green solid;
    display: inline-block;
    padding: 0.3rem;
    border-radius: 0.2rem;
    margin: 0 0.2em;
}
.action-icon:hover{
    background-color: red;
}