.central_btn {
  outline: none;
  border-radius: 0.4rem;
  border: none;
  padding: 1rem 2rem;
  color: $color-white;
  background-color: #dc143c;
  margin: 1rem 2rem;
  font-family: $primary-font;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
}
.btn {
  background-color: black;
}